/* We want to have a sidebar for navigation; so we will use grid styling and just use a small portion of the screen for the sidebar */

html, body{
    height: 100%;
}

.aside-grid {
    position: absolute;
    top: 6%;
    height: 100%;
    z-index: 1;
    border: 1px black solid;
    border-radius: 5px 5px 5px 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
    border: 1px black solid;
    border-radius: 5px
}

.table-container{
    width: 75%;
    margin: auto;
    margin-bottom: 5%;
}

.left-text {
    text-align: left !important;
}

/* color for flask error messages */
.warning {
    color :red;
}