{% extends "layout.html" %}

{% block title %}
    Courses
{% endblock %}

{% block main %}

    <div class="table-container">
        <form action="/courses" method="post">
            <div class="mb-3">
                <label for="coursename" class="form-label left-text">Course:</label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="coursename" name="coursename" placeholder="Course name" type="text" required="true">
            </div>
            <button class="btn btn-primary" type="submit">Register Course</button>
        </form>
    </div>

    <!-- SECTION FOR COURSE TABLE -->
    <div class="table-container">
        <h1> COURSES REGISTERED</h1>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th> Course Name</th>
                    <th> Students Enrolled </th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ course["coursename"] }}</td>
                        <td>{{ course["enrolled"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
