{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}


{% block main %}

    <div class="table-container">

        <h1 class="header"> Welcome to the Student Result Management System </h1>

        <card>
            <h2> Courses </h2>
            <p> Currently, there are {{ courseTotal }} courses available on this management system. </p>
        </card>

        <card>
            <h2> Students </h2>
            <p> On this management system, we have <span> {{ studentTotal }} </span> students registered. </p>
        </card>

        <card>
            <h2> Grading </h2>
            <p> Within the courses, we have grading results from {{ gradesTotal }} assignments. </p>
        </card>

    </div>

{% endblock %}
