{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="table-container">
        <form action="/register" method="post">
            <div class="mb-3 row">
                <div class="col">
                    <label for="firstname" class="form-label left-text">First name:</label>
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="firstname" name="firstname" placeholder="First name" type="text" required="true">
                </div>
                <div class="col">
                    <label for="lastname" class="form-label left-text">Family name:</label>
                    <input class="form-control mx-auto w-auto" id="lastname" name="lastname" placeholder="Family name" type="text" required="true">
                </div>
                <!-- For date of birth, must be a valid date, and student must be at least ten years old; for simplicity we will just max it out at 10 years from date of creation -->
                <div class="col"> 
                    <label for="birthdate" class="form-label left-text">Birthdate: </label>
                    <input class="form-control mx-auto w-auto" id="birthdate" name="birthdate" value="2000-01-01" max="2014-01-19" min="1924-01-19" type="date" required="true">
                </div>
            </div>        
            <button class="btn btn-primary" type="submit">Register Student</button>
        </form>
    </div>

    <div class="table-container">
        <h1> STUDENTS REGISTERED</h1>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birth Date</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student["firstname"] }}</td>
                        <td>{{ student["lastname"] }}</td>
                        <td>{{ student["birthdate"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
